body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fcfbfb;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline:aqua;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  background-color:white;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid rgb(94, 123, 207);
  border-radius: 5px;
  font-size: 16px;
  
}

button {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-image: url(pan.jpg);
}

button:hover {
  background-color: black;
}

#result {
  display: none;
}

.recipe {
  padding: 20px;
  margin-bottom: 20px;
  background-color:wheat;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.recipe h2 {
  color: #333;
  margin-top: 0;
}

.recipe h3 {
  color: #555;
  margin-bottom: 10px;
}

.recipe ul {
  list-style-type: none;
  padding: 0;
}

.recipe li {
  margin-bottom: 5px;
}

.recipe p {
  margin: 10px 0;
  color: #777;
}
